<form (ngSubmit)="onSubmit(myForm)" 
      #myForm="ngForm">
    <input matInput placeholder="Field" [(ngModel)]="field" name="field">
  <button mat-raised-button color="primary">Submit</button>
</form>

